@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('~@/assets/css/HelveticaNeueLTStd-Md.woff2') format('woff2'),
        url('~@/assets/css/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('~@/assets/css/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('~@/assets/css/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

